<nav *ngIf="submitted">
  <img class="pos_img" src="../assets/logo-steam.png" alt="#">
  <li class="link" *ngFor="let item of items" routerLink="{{ item }}" (click)="onSelectItem(item)" [class.active]="item == activeItem">{{ item | titlecase }}</li>
</nav>

<div id="sing_in" *ngIf="!submitted" class="container-sing_in">
  <h1 class="text-center pos-text">Sign In</h1>
  <form (ngSubmit)="onSubmit()">

    <div class="margin w-input">
      <div>
        <label class="pd_l" for="emailIn">Email</label>
        <input class="display-block size mb pd_l" type="email" placeholder="Email" id="emailIn">
      </div>

      <div>
        <label class="pd_l" for="password">Password</label>
        <input class="display-block size pd_l" type="password" placeholder="Password" id="password">
      </div>

    </div>

      <button class="btn-primary margin display-block size-btn" type="submit" routerLink="/profile">Sign In</button>

  </form>

</div>

<router-outlet></router-outlet>
