.container-games {
  width: 1160px;
  background: white;
  padding: 20px 60px 0;
  margin: 64px auto 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  margin: 0;
}

.br {
  border-radius: 4px;
}

.mb {
  margin-bottom: 20px;
}

.fw {
  font-weight: 400;
}

.flex-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.size-search-block-input {
  width: 91%;
}

.size-search-input {
  width: 100%;
  height: 30px;
  border: 1px solid black;
}

.display-block-games {
  display: block;
}

.pd_l-games {
  padding-left: 10px;
}

.btn-search {
  display: block;
  width: 75px;
  height: 36px;
  background: #6C69FF;
  color: white;
  border: none;
  border-radius: 2px;
}

.all-list-games {
  display: flex;
  justify-content: flex-end;
}

.games {
  padding: 15px;
  width: 80%;
  column-count: 3;
}

.game {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.preview {
  background: #BDBCFF;
  color: white;
  padding: 4%;
  height: 130px;
}

.text-end {
  margin-top: 80px;
  margin-left: 60%;
}

.description {
  padding: 6%;
}

.description p {
  margin: 0;
}

.btn-games {
  height: 30px;
  color: white;
  background: #6C69FF;
  width: 100%;
  margin-top: 3%;
  border: none;
}

.all-list-games {
  width: 100%;
}

.block-filter {
  width: 20%;
  border-left: 1px solid black;
  padding: 0 15px;
  margin: 15px 0;
}

.size-input-range {
  width: 90%;
}

.block-label {
  display: block;
  text-align: center;
}


.container-spec-checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-spec-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  border: 1px solid grey;
  border-radius: 5px;
  height: 18px;
  width: 18px;
  background-color: white;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-spec-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.container-spec-checkbox .checkmark:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  background: #6C69FF;
}
